:root {
  /* Custom Properties */
  --clr-primary-100: hsl(192, 37%, 48%);
  --clr-primary-200: hsl(268, 34%, 53%);
  --clr-primary-300: hsl(192, 90%, 77%);
  --clr-primary-400: hsl(268, 100%, 86%);

  --clr-neutral-100: hsl(240, 21%, 20%);
  --clr-neutral-200: hsl(240, 10%, 57%);
  --clr-neutral-300: hsl(0, 0%, 98%);

  --ff-primary-100: "Red Hat Display", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 2.5rem;
  --fs-800: 4rem;

  --line-height-100: 1.625rem;
  --line-height-200: 2.75rem;
  --line-height-300: 4rem;

  --letter-spacing-100: 4px;
}

/* Utility Classes */
.primary-heading {
  font-family: var(--ff-primary-100);
  font-weight: var(--fw-black);
  font-size: var(--fs-800);
  line-height: var(--fs-800);
  color: var(--clr-neutral-100);
}

.secondary-heading {
  font-family: var(--ff-primary-100);
  font-weight: var(--fw-black);
  font-size: var(--fs-700);
  line-height: var(--fs-800);
  color: var(--clr-neutral-100);
}

.body-text {
  font-family: var(--ff-primary-100);
  font-weight: var(--fw-medium);
  font-size: var(--fs-600);
  line-height: var(--fs-800);
  color: var(--clr-primary-200);
}

.sub-heading {
  font-family: var(--ff-primary-100);
  font-weight: var(--fw-black);
  font-size: var(--fs-500);
  line-height: var(--fs-800);
  color: var(--clr-primary-100);
  letter-spacing: var(--letter-spacing-100);
}

/* Buttons */
.button-1 {
  font-family: var();
}
